* {
  padding: 0;
  margin: 0;
}

body {
  font-family: tahoma;
}

.video-box {
  width: 70%;
  position: relative;
  direction: ltr !important;
  border: 1px solid rgba(128, 128, 128, 0.35);
}

#videoPlayer {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.controller {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: rgba(66, 66, 66, 0.85);
}

.controller .tools {
  color: white;
  padding: 0 16px;
  display: flex;
  height: 37px;
  align-items: center;
  justify-content: space-between;
}

.controller .tools .fa-solid {
  cursor: pointer;
  font-size: 18px;
}

.video-progress {
  width: calc(100% - 28px);
  background-color: rgba(241, 241, 241, 0.31);
  margin: 4px 14px;
  height: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.progress-bar {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: deeppink;
}

.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

input[type="range"].volume {
  height: 2px;
  background-color: gray;
  width: 90px;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  border: 1px solid deeppink;
  background-color: deeppink;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  border: 1px solid deeppink;
  background-color: deeppink;
  cursor: pointer;
  -webkit-appearance: none;
}

.slider-progress {
  background-color: deeppink;
  height: 2px;
  position: absolute;
  width: 90px;
}

.range-slider {
  display: flex;
}

#volumeIcon {
  width: 30px;
}

#larg-player-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  display: none;
}
